<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean name="serviceBean" class="com.akoemov.spring_xml_conf.di.ServiceBeanImpl"/>

    <bean name="setterTypeDIBean"
          class="com.akoemov.spring_xml_conf.di.SetterTypeDIBean">
        <property name="serviceBean" ref="serviceBean"/>
    </bean>

    <bean name="constructorTypeDIBean"
          class="com.akoemov.spring_xml_conf.di.ConstructorTypeDIBean">
        <constructor-arg ref="serviceBean"/>
    </bean>
</beans>