<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean name="DefinitionBean"
          class="com.akoemov.spring_xml_conf.bean_dfinition.ExampleBean"
          scope="singleton"
          init-method="init"
          destroy-method="cleanup"
          lazy-init="false">

        <constructor-arg value="Set value by constructor"/>
        <property name="forSetter" value="Set value by setter"/>

    </bean>

</beans>